//- some variables

//- footer
- var footer_logo_url = "../../images/slogan-footer-mobile.png";
- var footer_desc_intro = "Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển";
- var phone_num = "(84-4) 66.558.868";
- var email = "info@dkt.com.vn";
- var footer_copyright = "Thiết kế bởi Bizweb ©";
-
  var nav_client = [
    {'Tài khoản của tôi': '#'},
    {'Sản phẩm yêu thích': '#'},
    {'Lịch sử mua hàng': '#'},
    {'Chính sách đổi trả': '#'},
    {'Góp ý, khiếu nại': '#'}
  ];
-
  var nav_service = [
    {'Hệ thống cửa hàng': '#'},
    {'Hướng dẫn mua hàng': '#'},
    {'Hướng dẫn thanh toán': '#'},
    {'Tích điểm đổi quà': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_policy = [
    {'Chính sách giao hàng': '#'},
    {'Chính sách đổi trả sản phẩm': '#'},
    {'Chính sách bảo hành': '#'},
    {'Giới thiệu sản phẩm mới': '#'},
    {'Chính sách trả góp': '#'}
  ];
-
  var nav_news = [
    {'Tin mới': '#'},
    {'Khuyến mại': '#'},
    {'Tuyển dụng': '#'},
    {'Download': '#'},
    {'Tags': '#'}
  ];
-
  var nav_hotlink = [
    {'Sitemap': '#'},
    {'Danh mục sản phẩm': '#'},
    {'Hợp tác': '#'},
    {'Thông tin liên hệ': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_payment = [
    {'fa-cc-visa': '#'},
    {'fa-cc-mastercard': '#'},
    {'fa-cc-paypal': '#'},
    {'fa-cc-discover': '#'}
  ];

//- header
- var shop_name = "Green Shop";
- var shop_service = "Cho thuê cây cảnh Tết 2016";
- var shop_offer = "( Miễn phí vận chuyển với những đơn hàng có trị giá trên 5.000.000 đ )";
- var open_time = "Open time: 08:00 - 18:00  Monday - Sunday";
- var phonesp1 = "(04) 6674 2332";
- var phonesp2 = "(04) 3786 8904";
- var header_logo_url_green = "../../images/slogan-header-mobile-green.png";
- var header_logo_url_black = "../../images/slogan-header-mobile-black.png";
- var header_flower_url = "../../images/headerflowerahihi.png";
- var header_slide_img = "../../images/slide-1920x590.jpg";
- var header_slide_nt_img = "../../images/slide-1920x590-no-text.jpg";
-
  var nav_header = [
    {'Trang chủ': '#'},
    {'Giới thiệu': '#'},
    {'Sản phẩm': '#', 'child': [{'Hoa sen': '#'},
                                {'Hoa súng': '#'},
                                {'Hoa dâm bụt': '#'},
                                ]},
    {'Sản phẩm mới': '#', 'child': [{'Hoa sen': '#', 'child': [{'Hoa sen đá': '#'},
                                                              {'Hoa sen cạn': '#'},
                                                              ]},
                                    {'Hoa súng': '#'},
                                    {'Hoa dâm bụt': '#'},
                                    ]},
    {'Tin tức': '#'},
    {'Liên hệ': '#'}
  ];