//- some variables

//- footer
- var footer_logo_url = "../../images/slogan-footer-mobile.png";
- var footer_desc_intro = "Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển";
- var phone_num = "(84-4) 66.558.868";
- var email = "info@dkt.com.vn";
- var footer_copyright = "Thiết kế bởi Bizweb ©";
-
  var nav_client = [
    {'Tài khoản của tôi': '#'},
    {'Sản phẩm yêu thích': '#'},
    {'Lịch sử mua hàng': '#'},
    {'Chính sách đổi trả': '#'},
    {'Góp ý, khiếu nại': '#'}
  ];
-
  var nav_service = [
    {'Hệ thống cửa hàng': '#'},
    {'Hướng dẫn mua hàng': '#'},
    {'Hướng dẫn thanh toán': '#'},
    {'Tích điểm đổi quà': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_policy = [
    {'Chính sách giao hàng': '#'},
    {'Chính sách đổi trả sản phẩm': '#'},
    {'Chính sách bảo hành': '#'},
    {'Giới thiệu sản phẩm mới': '#'},
    {'Chính sách trả góp': '#'}
  ];
-
  var nav_news = [
    {'Tin mới': '#'},
    {'Khuyến mại': '#'},
    {'Tuyển dụng': '#'},
    {'Download': '#'},
    {'Tags': '#'}
  ];
-
  var nav_hotlink = [
    {'Sitemap': '#'},
    {'Danh mục sản phẩm': '#'},
    {'Hợp tác': '#'},
    {'Thông tin liên hệ': '#'},
    {'Câu hỏi thường gặp': '#'}
  ];
-
  var nav_payment = [
    {'fa-cc-visa': '#'},
    {'fa-cc-mastercard': '#'},
    {'fa-cc-paypal': '#'},
    {'fa-cc-discover': '#'}
  ];

//- header
- var shop_name = "Green Shop";
- var shop_service = "Cho thuê cây cảnh Tết 2016";
- var shop_offer = "( Miễn phí vận chuyển với những đơn hàng có trị giá trên 5.000.000 đ )";
- var open_time = "Open time: 08:00 - 18:00  Monday - Sunday";
- var phonesp1 = "(04) 6674 2332";
- var phonesp2 = "(04) 3786 8904";
- var header_logo_url_green = "../../images/slogan-header-mobile-green.png";
- var header_logo_url_black = "../../images/slogan-header-mobile-black.png";
- var header_flower_url = "../../images/headerflowerahihi.png";
- var header_slide_img = "../../images/slide-1920x590.jpg";
- var header_slide_nt_img = "../../images/slide-1920x590-no-text.jpg";
-
  var nav_header = [
    {'Trang chủ': '#'},
    {'Giới thiệu': '#'},
    {'Sản phẩm': '#', 'child': [{'Hoa sen': '#'},
                                {'Hoa súng': '#'},
                                {'Hoa dâm bụt': '#'},
                                ]},
    {'Sản phẩm mới': '#', 'child': [{'Hoa sen': '#', 'child': [{'Hoa sen đá': '#'},
                                                              {'Hoa sen cạn': '#'},
                                                              ]},
                                    {'Hoa súng': '#'},
                                    {'Hoa dâm bụt': '#'},
                                    ]},
    {'Tin tức': '#'},
    {'Liên hệ': '#'}
  ];

//- homepage
- var ads1_img = "../../images/banner-11140x217.png";
-
  var pr_highlight = [
    { 
      'title': 'Cây chân chim',
      'price': '250',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-4.png'
    },
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '150',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    }
  ];
-
  var pr_hot = [
    { 
      'title': 'Cây chân chim',
      'price': '250',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-4.png'
    },
    { 
      'title': 'Cây Dạ Lam',
      'price': '500',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-5.png'
    },
    { 
      'title': 'Cây Danh Dự',
      'price': '850',
      'old_price': '250',
      'desc': 'NEW',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây đa búp đỏ',
      'price': '1.000',
      'old_price': '250',
      'desc': '50%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-3.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '150',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '375',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    }
  ];
-
  var pr_promo = [
    { 
      'title': 'Cây danh dự',
      'price': '475',
      'old_price': '250',
      'desc': '-25%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dạ lam',
      'price': '555',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-2.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '680',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-1.png'
    }
  ];
-
  var pr_new = [
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '475',
      'old_price': '250',
      'desc': '-25%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-15.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây dạ lam',
      'price': '555',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-2.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '668',
      'old_price': '250',
      'desc': '-10%',
      'rating': 9,
      'url': '#',
      'img': 'spx2-6.png'
    },
    { 
      'title': 'Cây cọ ta',
      'price': '770',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-11.png'
    },
    { 
      'title': 'Cây danh dự',
      'price': '780',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-8.png'
    },
    { 
      'title': 'Cây dứa nhỏ',
      'price': '680',
      'old_price': '250',
      'desc': 'null',
      'rating': 9,
      'url': '#',
      'img': 'spx2-1.png'
    }
  ];
-
  var news_home = [
    {
      'title': '15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Cùng Sài Gòn Hoa tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào',
      'thumb': '../../images/news-thumb-1.jpg',
      'url': '#'
    },
    {
      'title': 'Tạo Tiểu Cảnh Góc Sân Cho Nhà Phố, Biệt Thự Đẹp',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra, góc sân luôn là điểm nhìn đầu tiên của chúng ta.',
      'thumb': '../../images/news-thumb-2.jpg',
      'url': '#'
    },
    {
      'title': 'Cách bố trí hoa chậu trước cửa ấn tượng',
      'date': 'Thứ 7, ngày 31, tháng 12, năm 2019',
      'desc': 'Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ, phần không gian trước cửa',
      'thumb': '../../images/news-thumb-3.jpg',
      'url': '#'
    },
  ];