//- some variables

//- footer
- var footer_logo_url = "../../images/slogan-footer-mobile.png";
- var footer_desc_intro = "Green shop được thành lập từ 8/2010 được sự tin tưởng của khách hàng trong suốt thời gian hoạt động đến nay cửa hàng ngày một phát triển";
- var phone_num = "(84-4) 66.558.868";
- var email = "info@dkt.com.vn";
- var footer_copyright = "Thiết kế bởi Bizweb ©";
-
  var nav_client = [
    {'Tài khoản của tôi': '#'},
    {'Sản phẩm yêu thích': '#'},
    {'Lịch sử mua hàng': '#'},
    {'Chính sách đổi trả': '#'},
    {'Góp ý, khiếu nại': '#'}
  ]
-
  var nav_service = [
    {'Hệ thống cửa hàng': '#'},
    {'Hướng dẫn mua hàng': '#'},
    {'Hướng dẫn thanh toán': '#'},
    {'Tích điểm đổi quà': '#'},
    {'Câu hỏi thường gặp': '#'}
  ]
-
  var nav_policy = [
    {'Chính sách giao hàng': '#'},
    {'Chính sách đổi trả sản phẩm': '#'},
    {'Chính sách bảo hành': '#'},
    {'Giới thiệu sản phẩm mới': '#'},
    {'Chính sách trả góp': '#'}
  ]
-
  var nav_news = [
    {'Tin mới': '#'},
    {'Khuyến mại': '#'},
    {'Tuyển dụng': '#'},
    {'Download': '#'},
    {'Tags': '#'}
  ]
-
  var nav_hotlink = [
    {'Sitemap': '#'},
    {'Danh mục sản phẩm': '#'},
    {'Hợp tác': '#'},
    {'Thông tin liên hệ': '#'},
    {'Câu hỏi thường gặp': '#'}
  ]
-
  var nav_payment = [
    {'fa-cc-visa': '#'},
    {'fa-cc-mastercard': '#'},
    {'fa-cc-paypal': '#'},
    {'fa-cc-discover': '#'}
  ]