// Colors
$black-top: #202020; // icon
$black-footer: #313131;
$grey-copyright: #434343;
$grey-trname: #555555;
$grey-slogan: #898989;
$grey-price: #959595;
$grey-text: #b7b7b7;
$grey-figure: #e6eaed;
$white: #ffffff;
$white-figure: #f7f7f7;
$yellow-rating: #febf01;
$red-price: #ed1c24;
$red-discount: #d64146;
$green-theme: #3fb871;
$green-border: #5daa82;
$green-button: #59b586;
$green-label: #68ba8f;

