// some the others
.full-width {
  width: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.green-label {
  color: $green-theme;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}