// some the others
.full-width {
  width: 100%;
}
.uppercase {
  text-transform: uppercase;
}
.green-label {
  color: $green-theme;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.float-left {
  float: left;
}
.max-src {
  max-width: 1171px;
}
.margin-auto {
  margin: 0 auto;
}