@font-face {
  font-family: "FontAwesome";
  src: url(../webfonts/fontawesome-webfont.ttf); }
@font-face {
  font-family: "KV Arial";
  src: url(../webfonts/KV-Arial.ttf); }
@font-face {
  font-family: "Arial UMS";
  src: url(../webfonts/ARIALUNI.TTF); }
@font-face {
  font-family: "OpenSans";
  src: url(../webfonts/OpenSans-Regular.ttf); }
@font-face {
  font-family: "Roboto";
  src: url(../webfonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "Roboto Slab";
  src: url(../webfonts/Roboto-Regular.ttf); }
@font-face {
  font-family: "UVF Gulyesa";
  src: url(../webfonts/UVF-GulyesaScript.otf); }
@font-face {
  font-family: "VNF Museo";
  src: url(../webfonts/VNF-Museo.ttf); }
@font-face {
  font-family: "VNF Sheila";
  src: url(../webfonts/VNF-Sheila.ttf); }
.full-width {
  width: 100%; }

.uppercase {
  text-transform: uppercase; }

.italic {
  font-style: italic; }

.green-label {
  color: #3fb871; }

.text-center {
  text-align: center; }

.hidden {
  display: none; }

.inline-block {
  display: inline-block; }

.inline {
  display: inline; }

.float-left {
  float: left; }

.max-src {
  max-width: 1171px; }

.margin-auto {
  margin: 0 auto; }

.header__container {
  display: grid;
  width: 100%;
  grid-template-areas: "headertop" "headerslide";
  grid-template-columns: 1fr; }
.header__top {
  grid-area: headertop; }
  .header__top__bar {
    display: none;
    background-color: #202020;
    color: #898989; }
  .header__top__mid {
    background-color: #ffffff;
    background-image: url("../../images/pattern-header.png");
    background-repeat: repeat; }
    .header__top__mid__left__slogan {
      display: flex;
      justify-content: center;
      padding: 22px 0; }
      .header__top__mid__left__slogan__img.slogan-black {
        display: none; }
    .header__top__mid__left__img {
      display: none; }
    .header__top__mid__right {
      display: none; }
  .header__top__bot {
    background-color: #3fb871; }
    .header__top__bot__container {
      color: #ffffff;
      padding: 15px; }
    .header__top__bot__button {
      display: flex;
      justify-content: space-between; }
      .header__top__bot__button__menu .fa {
        font-size: 20px; }
      .header__top__bot__button__utilities .fa-search {
        font-size: 14px;
        margin-right: 20px; }
      .header__top__bot__button__utilities .fa-shopping {
        font-size: 16px; }
    .header__top__bot__nav {
      display: none; }
      .header__top__bot__nav__menu a {
        color: #ffffff; }
@media (min-width: 624px) {
  .header__top__bar {
    display: block; }
    .header__top__bar__container {
      padding-left: 15px;
      padding-right: 15px;
      font-size: 12px; }
    .header__top__bar__left {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header__top__bar__left__time .fa {
        margin-right: 7px; }
      .header__top__bar__left__social__link .fa {
        padding: 12px;
        border-left: 1px solid #313131; }
      .header__top__bar__left__social__link:last-of-type .fa {
        padding-right: 0; }
    .header__top__bar__right {
      display: none; }
  .header__top__mid__left__slogan__img.slogan-green {
    display: none; }
  .header__top__mid__left__slogan__img.slogan-black {
    display: block; } }
@media (min-width: 896px) {
  .header__top__bar__container {
    display: flex;
    justify-content: space-between; }
  .header__top__bar__left {
    display: flex;
    justify-content: start;
    align-items: center; }
    .header__top__bar__left__time {
      margin-right: 30px; }
    .header__top__bar__left__social__link .fa {
      padding: 12px; }
    .header__top__bar__left__social__link:last-of-type .fa {
      padding-right: 12px;
      border-right: 1px solid #313131; }
  .header__top__bar__right {
    display: flex;
    align-items: center; }
    .header__top__bar__right__login {
      margin-right: 35px; }
    .header__top__bar__right .fa {
      margin-right: 5px; }
  .header__top__mid__container {
    display: grid;
    width: 100%;
    grid-template-areas: "headtopmidleft headtopmidright";
    grid-template-columns: 4fr 5fr;
    padding-left: 15px;
    padding-right: 15px; }
  .header__top__mid__left {
    grid-area: headtopmidleft;
    display: flex; }
    .header__top__mid__left__slogan__img.slogan-green {
      display: none; }
    .header__top__mid__left__slogan__img.slogan-black {
      display: block; }
    .header__top__mid__left__img {
      display: block; }
  .header__top__mid__right {
    grid-area: headtopmidright;
    display: grid;
    width: 100%;
    grid-template-areas: "headtopmidrightA" "headtopmidrightB";
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px; }
    .header__top__mid__right__above {
      grid-area: headtopmidrightA;
      align-self: end;
      font-family: "OpenSans";
      margin-bottom: 10px; }
      .header__top__mid__right__above__link, .header__top__mid__right__above span, .header__top__mid__right__above .fa {
        color: #b7b7b7;
        font-size: 14px; }
      .header__top__mid__right__above .fa {
        margin-right: 5px; }
    .header__top__mid__right__below {
      grid-area: headtopmidrightB;
      display: grid;
      width: 100%;
      grid-template-areas: "headtopmidrightB1 headtopmidrightB2";
      grid-template-columns: 4fr 1fe; }
      .header__top__mid__right__below__search {
        grid-area: headtopmidrightB1;
        font-size: 14px;
        height: 40px; }
        .header__top__mid__right__below__search__input {
          padding: 12px 0 12px 20px;
          border-radius: 30px 0 0 30px; }
          .header__top__mid__right__below__search__input::placeholder {
            color: #e6eaed; } }
        @media (min-width: 896px) and (min-width: 1024px) {
          .header__top__mid__right__below__search__input {
            width: 80%;
            padding: 12px 0 12px 22px; } }
@media (min-width: 896px) {
        .header__top__mid__right__below__search__submit-btn {
          background-color: #ffffff;
          padding: 12px 20px 12px 15px;
          position: relative;
          left: -5px;
          border-radius: 0 30px 30px 0; }
          .header__top__mid__right__below__search__submit-btn:before {
            content: " ";
            position: relative;
            left: -15px;
            border-left: 1px solid #e6eaed;
            padding: 5px 0; }
          .header__top__mid__right__below__search__submit-btn .fa {
            color: #898989; } }
        @media (min-width: 896px) and (min-width: 1024px) {
          .header__top__mid__right__below__search__submit-btn {
            padding: 12px 22px 12px 15px; } }
@media (min-width: 896px) {
      .header__top__mid__right__below__cart {
        grid-area: headtopmidrightB2;
        top: 12px;
        position: relative; }
        .header__top__mid__right__below__cart__icon {
          font-size: 20px;
          top: -3px;
          position: relative;
          margin-right: 10px;
          color: #313131; }
        .header__top__mid__right__below__cart span {
          font-size: 15px;
          color: #434343; }
  .header__top__bot__container {
    display: flex; }
  .header__top__bot__button {
    margin-right: 30px; }
    .header__top__bot__button__utilities {
      display: none; }
  .header__top__bot__nav {
    display: block; }
    .header__top__bot__nav a {
      text-transform: uppercase;
      font-size: 14px; }
    .header__top__bot__nav__menu__item {
      display: inline;
      position: relative; }
      .header__top__bot__nav__menu__item__link {
        padding: 18px 20px 17px; }
        .header__top__bot__nav__menu__item__link:hover {
          background-color: #39c27c; }
      .header__top__bot__nav__menu__item__link.-has-sub-menu {
        position: relative; }
        .header__top__bot__nav__menu__item__link.-has-sub-menu:after {
          font-family: "FontAwesome";
          content: "\f0dd";
          margin-left: 5px;
          position: relative;
          top: -4px; }
      .header__top__bot__nav__menu__item ul.sub-menu {
        display: none; }
      .header__top__bot__nav__menu__item:first-child .header__top__bot__nav__menu__item__link {
        background-color: #36a66d; }
      .header__top__bot__nav__menu__item:hover > a {
        background-color: #39c27c; }
      .header__top__bot__nav__menu__item:hover > ul.sub-menu {
        display: block;
        position: absolute;
        left: 0;
        top: 38px;
        width: max-content;
        background-color: #3fb871; }
        .header__top__bot__nav__menu__item:hover > ul.sub-menu li a {
          display: block; }
    .header__top__bot__nav__menu.sub-menu .header__top__bot__nav__menu__item__link {
      background-color: #3fb871; }
    .header__top__bot__nav > .header__top__bot__nav__menu > .header__top__bot__nav__menu__item {
      float: left; } }
@media (min-width: 1024px) {
  .header__top__mid__container {
    overflow: hidden; }
  .header__top__mid__right {
    position: relative;
    right: -70px; }
    .header__top__mid__right__above {
      margin-left: 20px; } }
@media (min-width: 1171px) {
  .header__top__mid__right {
    position: relative;
    right: -120px; } }
.header__slide {
  grid-area: headerslide; }
  .header__slide__container {
    display: flex;
    justify-content: center;
    overflow: hidden; }
  .header__slide__img.slide-notext {
    max-width: 180%; }
  .header__slide__img.slide-text {
    display: none; }
  @media (min-width: 624px) {
    .header__slide__img.slide-notext {
      display: none; }
    .header__slide__img.slide-text {
      display: block;
      max-width: 180%; } }
  @media (min-width: 896px) {
    .header__slide__img.slide-text {
      max-width: 140%; } }

.footer {
  background-color: #313131;
  color: #b7b7b7; }
  .footer__container {
    display: grid;
    width: 100%;
    grid-template-areas: "sub" "info" "nav" "copy";
    grid-template-columns: 1fr;
    font-size: 12px; }
    .footer__container .footer__subcribe {
      grid-area: sub;
      margin-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px; }
      .footer__container .footer__subcribe__container {
        display: grid;
        width: 100%;
        grid-template-areas: "social" "email";
        grid-template-columns: 1fr; }
        .footer__container .footer__subcribe__container .footer__subcribe__social {
          grid-area: social;
          margin-bottom: 35px; }
          .footer__container .footer__subcribe__container .footer__subcribe__social__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__subcribe__container .footer__subcribe__social__icon__link {
            color: #ffffff; }
            .footer__container .footer__subcribe__container .footer__subcribe__social__icon__link i {
              font-size: 22px;
              line-height: 20px; }
          .footer__container .footer__subcribe__container .footer__subcribe__social__icon__link:not(:last-of-type) {
            margin-right: 30px; }
        @media (min-width: 624px) {
          .footer__container .footer__subcribe__container {
            display: grid;
            width: 100%;
            grid-template-areas: "social email";
            grid-template-columns: 1fr 1fr; } }
        .footer__container .footer__subcribe__container .footer__subcribe__email {
          grid-area: email;
          margin-bottom: 35px; }
          .footer__container .footer__subcribe__container .footer__subcribe__email__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__subcribe__container .footer__subcribe__email__form {
            display: flex; }
            .footer__container .footer__subcribe__container .footer__subcribe__email__form__input {
              line-height: 46px;
              width: 100%; }
              .footer__container .footer__subcribe__container .footer__subcribe__email__form__input input {
                padding-left: 17px;
                padding-right: 17px;
                padding-top: 0;
                padding-bottom: 0;
                width: 100%; }
            .footer__container .footer__subcribe__container .footer__subcribe__email__form__button {
              line-height: 46px; }
              .footer__container .footer__subcribe__container .footer__subcribe__email__form__button button {
                padding: 0;
                background-color: #3fb871; }
                .footer__container .footer__subcribe__container .footer__subcribe__email__form__button button .fa {
                  padding: 15px 17px;
                  color: #ffffff; }
      @media (min-width: 896px) {
        .footer__container .footer__subcribe {
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 30px;
          margin-bottom: 60px; }
          .footer__container .footer__subcribe__container {
            display: grid;
            width: 100%;
            grid-template-areas: "social email email";
            grid-template-columns: 1fr 1fr 1fr; }
            .footer__container .footer__subcribe__container .footer__subcribe__social {
              margin-bottom: 0; }
              .footer__container .footer__subcribe__container .footer__subcribe__social__label {
                color: #898989;
                margin-bottom: 0; }
              .footer__container .footer__subcribe__container .footer__subcribe__social__icon__link .fa {
                font-size: 16px;
                line-height: 20px;
                color: #898989; }
              .footer__container .footer__subcribe__container .footer__subcribe__social__icon__link:not(:last-of-type) {
                margin-right: 25px; }
            .footer__container .footer__subcribe__container .footer__subcribe__email {
              display: grid;
              width: 100%;
              grid-template-areas: "emailLabel emailInput emailInput";
              grid-template-columns: 1fr 1fr 1fr;
              margin-bottom: 0; }
              .footer__container .footer__subcribe__container .footer__subcribe__email__label {
                grid-area: emailLabel;
                margin-bottom: 0;
                padding-right: 15px;
                color: #898989;
                padding-right: 15%; }
              .footer__container .footer__subcribe__container .footer__subcribe__email__form {
                grid-area: emailInput; } }
    @media (min-width: 896px) and (min-width: 1171px) {
      .footer__container .footer__subcribe__container {
        display: grid;
        width: 100%;
        grid-template-areas: "social email email";
        grid-template-columns: 4fr 7fr; }
        .footer__container .footer__subcribe__container .footer__subcribe__email {
          display: grid;
          width: 100%;
          grid-template-areas: "emailLabel emailInput";
          grid-template-columns: 2.5fr 5.5fr; } }

    .footer__container .footer__info {
      grid-area: info;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px; }
      .footer__container .footer__info__container {
        display: grid;
        width: 100%;
        grid-template-areas: "desc" "client" "service" "policy" "news";
        grid-template-columns: 1fr; }
        .footer__container .footer__info__container .footer__info__desc {
          grid-area: desc;
          margin-bottom: 45px; }
          .footer__container .footer__info__container .footer__info__desc__container {
            margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__logo {
              margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__intro .footer__info__desc__intro__text {
              line-height: 23px; }
            .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact {
              display: none; }
              .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__phone {
                line-height: 30px; }
              .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__email {
                line-height: 30px; }
        .footer__container .footer__info__container .footer__info__client {
          grid-area: client;
          margin-bottom: 45px; }
          .footer__container .footer__info__container .footer__info__client__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__info__container .footer__info__client__container {
            margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__client__container .footer__info__client__nav__menu__item__icon {
              font-size: 10px;
              margin-right: 2px; }
            .footer__container .footer__info__container .footer__info__client__container .footer__info__client__nav__menu__item__link {
              line-height: 37px; }
        .footer__container .footer__info__container .footer__info__service {
          grid-area: service;
          margin-bottom: 45px; }
          .footer__container .footer__info__container .footer__info__service__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__info__container .footer__info__service__container {
            margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__service__container .footer__info__service__nav__menu__item__icon {
              font-size: 10px;
              margin-right: 2px; }
            .footer__container .footer__info__container .footer__info__service__container .footer__info__service__nav__menu__item__link {
              line-height: 37px; }
        .footer__container .footer__info__container .footer__info__policy {
          grid-area: policy;
          margin-bottom: 45px; }
          .footer__container .footer__info__container .footer__info__policy__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__info__container .footer__info__policy__container {
            margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__policy__container .footer__info__policy__nav__menu__item__icon {
              font-size: 10px;
              margin-right: 2px; }
            .footer__container .footer__info__container .footer__info__policy__container .footer__info__policy__nav__menu__item__link {
              line-height: 37px; }
        .footer__container .footer__info__container .footer__info__news {
          grid-area: news; }
          .footer__container .footer__info__container .footer__info__news__label {
            font-size: 14px;
            font-weight: bold;
            line-height: 20px;
            margin-bottom: 15px; }
          .footer__container .footer__info__container .footer__info__news__container {
            margin-bottom: 15px; }
            .footer__container .footer__info__container .footer__info__news__container .footer__info__news__nav__menu__item__icon {
              font-size: 10px;
              margin-right: 2px; }
            .footer__container .footer__info__container .footer__info__news__container .footer__info__news__nav__menu__item__link {
              line-height: 37px; }
        @media (min-width: 624px) {
          .footer__container .footer__info__container {
            display: grid;
            width: 100%;
            grid-template-areas: "desc desc" "client service" "policy news";
            grid-template-columns: 1fr 1fr; }
            .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact {
              display: block; }
              .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__phone {
                line-height: 30px; }
                .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__phone .fa {
                  font-size: 18px;
                  color: #3fb871;
                  margin-right: 10px; }
              .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__email {
                line-height: 30px; }
                .footer__container .footer__info__container .footer__info__desc__container .footer__info__desc__contact__email .fa {
                  font-size: 10px;
                  color: #3fb871;
                  margin-right: 10px; } }
        @media (min-width: 896px) {
          .footer__container .footer__info__container {
            display: grid;
            width: 100%;
            grid-template-areas: "desc desc desc desc" "client service policy news";
            grid-template-columns: 1fr 1fr 1fr 1fr; }
            .footer__container .footer__info__container .footer__info__desc {
              margin-bottom: 30px; }
              .footer__container .footer__info__container .footer__info__desc__container {
                margin-bottom: 0; }
            .footer__container .footer__info__container .footer__info__client {
              margin-bottom: 0; }
              .footer__container .footer__info__container .footer__info__client__container {
                padding-right: 15px;
                margin-bottom: 0; }
            .footer__container .footer__info__container .footer__info__service {
              margin-bottom: 0; }
              .footer__container .footer__info__container .footer__info__service__container {
                padding-right: 15px;
                margin-bottom: 0; }
            .footer__container .footer__info__container .footer__info__policy {
              margin-bottom: 0; }
              .footer__container .footer__info__container .footer__info__policy__container {
                padding-right: 15px;
                margin-bottom: 0; }
            .footer__container .footer__info__container .footer__info__news__container {
              margin-bottom: 0; } }
        @media (min-width: 1171px) {
          .footer__container .footer__info__container {
            display: grid;
            width: 100%;
            grid-template-areas: "desc client service policy news";
            grid-template-columns: 4.5fr 2.5fr 2fr 2fr 1.5fr; }
            .footer__container .footer__info__container .footer__info__desc {
              margin-right: 80px; }
            .footer__container .footer__info__container .footer__info__client {
              margin-top: 25px; }
            .footer__container .footer__info__container .footer__info__service {
              margin-top: 25px; }
            .footer__container .footer__info__container .footer__info__policy {
              margin-top: 25px; }
            .footer__container .footer__info__container .footer__info__news {
              margin-top: 25px; } }
      @media (min-width: 896px) {
        .footer__container .footer__info {
          padding-top: 0;
          padding-bottom: 0;
          margin-bottom: 50px;
          border-top: none !important; } }
    .footer__container .footer__nav {
      grid-area: nav;
      display: none;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px; }
      .footer__container .footer__nav__container {
        display: grid;
        width: 100%;
        grid-template-areas: "hotlink" "payment";
        grid-template-columns: 1fr; }
        .footer__container .footer__nav__container .footer__nav__hotlink {
          grid-area: hotlink; }
        .footer__container .footer__nav__container .footer__nav__payment {
          grid-area: payment; }
      @media (min-width: 624px) {
        .footer__container .footer__nav {
          display: block; }
          .footer__container .footer__nav__container {
            display: grid;
            width: 100%;
            grid-template-areas: "hotlink" "payment";
            grid-template-columns: 1fr; }
            .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu {
              display: flex; }
              .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu__item__link {
                line-height: 20px; }
              .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu__item:not(:last-of-type) {
                margin-right: 15px; }
            .footer__container .footer__nav__container .footer__nav__payment__nav__menu {
              display: flex; }
              .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item__link {
                line-height: 18px; }
                .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item__link .fa {
                  font-size: 19px; }
              .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item:not(:last-of-type) {
                margin-right: 15px; } }
      @media (min-width: 896px) {
        .footer__container .footer__nav {
          padding-top: 25px;
          padding-bottom: 25px; }
          .footer__container .footer__nav__container {
            display: grid;
            width: 100%;
            grid-template-areas: "hotlink payment";
            grid-template-columns: 3fr 1fr; }
            .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu {
              display: flex;
              margin-bottom: 0; }
              .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu__item__link {
                line-height: 20px; }
              .footer__container .footer__nav__container .footer__nav__hotlink__nav__menu__item:not(:last-of-type) {
                margin-right: 15px; }
            .footer__container .footer__nav__container .footer__nav__payment__nav__menu {
              display: flex;
              justify-content: flex-end;
              margin-bottom: 0; }
              .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item__link {
                line-height: 18px; }
                .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item__link .fa {
                  font-size: 19px; }
              .footer__container .footer__nav__container .footer__nav__payment__nav__menu__item:not(:last-of-type) {
                margin-right: 15px; } }
    .footer__container .footer__info, .footer__container .footer__nav {
      border-top: 1px solid #494949; }
    .footer__container .footer__copyright {
      grid-area: copy;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      background-color: #434343; }
      .footer__container .footer__copyright__container .footer__copyright__text {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px; }

/*# sourceMappingURL=style.css.map */
